.multi-select .select-container {
    border: 1px saddlebrown solid;
    width: 300px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.unselect-container {
    border: 1px saddlebrown solid;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.unselect-options {
    background-color: rgb(255, 94, 13);
    border: 1px solid #fff;
    margin: 5px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.unselect-options:hover {
    cursor: pointer;
}

.selected-options {
    background: turquoise;
    margin: 5px;
    padding: 5px;
}